/* Searchbar */
.form-control-borderless {
  border: none;
}

.form-control-borderless:hover,
.form-control-borderless:active,
.form-control-borderless:focus {
  border: none;
  outline: none;
  box-shadow: none;
}

.panel {
  border: 1px solid #ccc;
}

input.form-control,
input.form-control:hover,
input.form-control:focus,
input.form-control:active {
  border: 1px solid #ccc;
}

.filters {
  font-size: 20px;
  margin-top: 15px;
}

.filters label {
  margin-left: 15px;
}

.filters input {
  margin-left: 10px;
  width: 15px;
  height: 15px;
}

.card {
  margin-top: 50px;
  padding: 25px;
}

.card button {
  width: 100px;
}

.not-found-text {
  text-align: center;
  margin-top: 100px;
  font-size: 20px;
}

.panel-footer {
  font-size: 14px;
}

.tab-tag {
  margin-top: 20px;
  margin-bottom: 20px;
}

.tab-tag span {
  font-size: 12px;
  padding: 10px;
}

.results-heading {
  margin-top: 50px;
  margin-bottom: 50px;
}

.panel {
  padding: 25px;
  text-align: center;
  margin-bottom: 20px;
}
